# MC4WP Start
# Apache 2.2
<IfModule !authz_core_module>
<Files mc4wp-debug-log.php>
deny from all
</Files>
</IfModule>
# Apache 2.4+
<IfModule authz_core_module>
<Files mc4wp-debug-log.php>
Require all denied
</Files>
</IfModule>
# MC4WP End